<div >
  <h2> TAMAGOTCHI GAME </h2>
  <div (mousemove)="lifebar()" class="tamagotchi" >
      <img *ngIf="(hunger<=50 ||sleepiness<=50)" src="../assets/img/tamagotchi-angry.png">
      <img *ngIf="!(hunger<=50 ||sleepiness<=50)"src="../assets/img/tamagotchi-start.png">
      <div id="pet-status">
          <div   class="button-label">
              <p>Hunger</p>
              <progress [value]="hunger" value="70" max="100">100%</progress>
              <button (click)="eat()" type="button">Eat</button>
              <p>Sleepiness</p>
              <progress [value]="sleepiness" value="70" max="100">100%</progress>
              <button (click)="sleep()" type="sleep-button">Sleep</button>
              <p>Life bar</p>
              <progress [value]="life" id="progress-bar-life" value="70" max="100">100%</progress>
              <p>Mueve el mouse alrededor del <br> tamagotchi para comenzar el <br> juego. Cuando sus necesidades<br>sean menores a 50 su barra de<br>vida disminuirá.</p>
              <button (click)="start()" type="start-button">Start</button>
          </div>
      </div>
  </div>
</div>